/*  Shirt Animation */
body {
  max-width: 100%;
  font-family: 'Work Sans';
}

body #hover-emphasis {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000022;
  opacity: 0.6;
  z-index: 1;
  display: none;
}

body .background-tri {
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
}

body .tri-top-left {
  border-top: 0 solid #FFB8C9;
  border-right: 0 solid transparent;
  top: 0;
  left: 0;
  -webkit-transition: border-top 2s;
  -webkit-transition: border-right 2s;
  transition: border-top 2s;
  transition: border-right 2s;
}

body .tri-top-left-transition {
  border-top: 700px solid #FFB8C9;
  border-right: 700px solid transparent;
}

body .tri-top-right {
  border-bottom: 0 solid #FFB8C9;
  border-left: 0 solid transparent;
  bottom: 0;
  right: 0;
  -webkit-transition: border-bottom 2s;
  -webkit-transition: border-left 2s;
  transition: border-bottom 2s;
  transition: border-left 2s;
}

body .tri-top-right-transition {
  border-bottom: 700px solid #FFB8C9;
  border-left: 700px solid transparent;
}

body .jersey img {
  max-width: 70%;
  max-height: 70%;
}

body .kit-lgw {
  position: absolute;
  left: 10%;
  top: 10%;
  animation-name: lgw;
  animation-duration: 1.9s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}

@-webkit-keyframes lgw {
  50% {
    -webkit-animation-timing-function: ease-in-out;
    left: 10%;
    top: 15%;
  }
}

@-moz-keyframes lgw {
  50% {
    -moz-animation-timing-function: ease-in-out;
    left: 10%;
    top: 15%;
  }
}

@-o-keyframes lgw {
  50% {
    -o-animation-timing-function: ease-in-out;
    left: 10%;
    top: 15%;
  }
}

@keyframes lgw {
  50% {
    animation-timing-function: ease-in-out;
    left: 10%;
    top: 15%;
  }
}

body .kit-camden {
  position: absolute;
  top: 35%;
  left: 41%;
  animation-name: camden;
  animation-duration: 1.9s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}

@-webkit-keyframes camden {
  50% {
    -webkit-animation-timing-function: ease-in-out;
    left: 41%;
    top: 31%;
  }
}

@-moz-keyframes camden {
  50% {
    -moz-animation-timing-function: ease-in-out;
    left: 41%;
    top: 31%;
  }
}

@-o-keyframes camden {
  50% {
    -o-animation-timing-function: ease-in-out;
    left: 41%;
    top: 31%;
  }
}

@keyframes camden {
  50% {
    animation-timing-function: ease-in-out;
    left: 41%;
    top: 31%;
  }
}

body .kit-camden:hover .jersey {
  opacity: 0.5;
}

body .kit-camden:hover .kit-nz {
  opacity: 0.4;
}

body .kit-nz {
  position: absolute;
  width: 26%;
  top: 12%;
  left: 70%;
  animation-name: nz;
  animation-duration: 1.9s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
}

@-webkit-keyframes nz {
  50% {
    -webkit-animation-timing-function: ease-in-out;
    left: 70%;
    top: 17%;
  }
}

@-moz-keyframes nz {
  50% {
    -moz-animation-timing-function: ease-in-out;
    left: 70%;
    top: 17%;
  }
}

@-o-keyframes nz {
  50% {
    -o-animation-timing-function: ease-in-out;
    left: 70%;
    top: 17%;
  }
}

@keyframes nz {
  50% {
    animation-timing-function: ease-in-out;
    left: 70%;
    top: 17%;
  }
}

body .jersey-text {
  position: relative;
  z-index: 2;
  color: #999;
  text-align: center;
  display: none;
  text-transform: uppercase;
  font-size: 2.2em;
  font-weight: 600;
  color: #FFB8C9;
}

body .lgw, body .camden, body .nz {
  width: 33%;
  display: inline-block;
}

body .lgw .lgw-text {
  padding-top: 95%;
  padding-left: 15%;
}

body .camden .camden-text {
  padding-top: 35%;
}

body .nz .nz-text {
  padding-top: 95%;
  padding-right: 15%;
}
